.header-text h1{
  color: #000000;
}

.about-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.About{
  margin-top: 150px  ;
  margin-bottom: 250px;
}


.about-text{
  width: 700px;
}

.carver-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.Carver{
  
  padding: 150px 0;
}


