.header-text h1{
  max-width:600px ;
}

.Collections{
  background-color: #E3AD3D;
  padding: 150px 0;
}

.collection-container{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.collection-content{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  gap: 40px;
  
}

.type1 .col-1{
  grid-area: 1 /1 /3 /3;
}

.col-1,
.col-2,
.col-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-1,
.col-2,
.col-3{
  font-family: 'SatoshiLight';
}
.type2 .col-3{
  grid-area: 1/2/3/4;
}

.Collections-2 .wrapper .header-line{
  margin: 250px 0;
}

.collections-2-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.collections-2-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  
}

.collections-2-container .content h1{
  font-size: 2rem;
  text-align: center;
}

.collections-2-container .content p{
  text-align: center;
  margin-top: 10px;
}